venv
.DS_Store
__pycache__
*.pyc

dist

*.lock

lib.egg-info

.coverage
htmlcov/

report.html
result.xml

.pytest_cache

/assets

build

site

docs/README.md
docs/CHANGELOG.md
docs/CONTRIBUTING.md

.cache